<form nz-form [formGroup]="form">
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>Name</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="Please enter user name" formControlName="name">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>Position</nz-form-label>
        <nz-form-control>
          <nz-select nzPlaceHolder="Please select a position" formControlName="position">
            <nz-option *ngFor="let position of (attributes | async)?.position" [nzValue]="position.value" [nzLabel]="position.value | uppercase"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>Area</nz-form-label>
        <nz-form-control>
          <nz-select nzPlaceHolder="Please select an area" formControlName="area">
            <nz-option *ngFor="let area of (attributes | async)?.area" [nzValue]="area.value" [nzLabel]="area.value | uppercase"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>World</nz-form-label>
        <nz-form-control>
          <nz-select nzPlaceHolder="Please select a world" formControlName="world">
            <nz-option *ngFor="let world of (attributes | async)?.world" [nzValue]="world.value" [nzLabel]="world.value | uppercase"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
<div class="footer">
  <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>Cancel</span></button>
  <button type="button" (click)="add()" [disabled]="form.invalid" class="ant-btn ant-btn-primary"><span>Add</span></button>
</div>
