<div style="padding:24px; background: #fff;">
  Filter user by name:
  <div nz-row>
    <div nz-col nzXs="12" nzSm="10">
      <input nz-input placeholder="Filter user by name" nzSize="large" (input)="filterByName($event.target.value)">
    </div>
  </div>
  <br>
  <nz-table #dataTable [nzShowPagination]="false" [nzLoading]="loading | async" [nzData]="users | async">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="name">Name</th>
      <th nzShowSort nzSortKey="familyGoal">Family</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of (users | async)">
      <td>{{data.name}}</td>
      <td>{{data.family | titlecase }}</td>
      <td><a>Details</a></td>
    </tr>
    </tbody>
  </nz-table>
</div>

<div class="floating-button" [class.active]="mouseOver" (mouseover)="mouseOver = true" (mouseout)="mouseOver = false">
  <button nz-button nzType="primary"  nzSize="large" (click)="openForm()"><i class="anticon anticon-plus"></i> {{ mouseOver ? 'Add User' : '' }}</button>
</div>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }" [nzWidth]="720 < drawerWidth ? 720 : drawerWidth" [nzMaskClosable]="false" [nzVisible]="formVisible" nzTitle="Add User" (nzOnClose)="closeForm()">
  <app-create-user-form (closeForm)="closeForm()"></app-create-user-form>
</nz-drawer>
