<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="0" [nzBreakpoint]="'lg'">
    <div class="logo">
      <img src="https://www.rankmi.com/hubfs/rankmi%20blanco.png?t=1534563144063" width="70%">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <li nz-menu-item [nzSelected]="routeIsActive('/list')" [routerLink]="['/list']"><span><i class="anticon anticon-user"></i><span class="nav-text">User List</span></span></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content style="margin:24px 16px 0;">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>

